/*--import Boubourn--*/
/*--END import Bourbon--*/
/*--Variables and Mixins--*/
/*--import Boubourn--*/
/*--END import Bourbon--*/
/*--COLORS--*/
/*--END COLORS--*/
/*--FONTS--*/
/*--END FONTS--*/
/*--BREAKPOINTS--*/
/*--END BREAKPOINTS--*/
.gradient_1_opaque_inverse {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00a8e1+0,002d5b+60&0.7+0,0.9+60 */
  background: -moz-linear-gradient(left, rgba(0, 168, 225, 0.7) 0%, rgba(0, 45, 91, 0.8) 60%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(0, 168, 225, 0.7) 0%, rgba(0, 45, 91, 0.8) 60%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(0, 168, 225, 0.7) 0%, rgba(0, 45, 91, 0.8) 60%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b300a8e1', endColorstr='#e6002d5b',GradientType=1 );
  /* IE6-9 */
}

.gradient_5_opaque {
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMmQ1YiIgc3RvcC1vcGFjaXR5PSIwLjI1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDQ2OGUiIHN0b3Atb3BhY2l0eT0iMC4yNSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left, rgba(0, 45, 91, 0.15) 0%, rgba(0, 70, 142, 0.15) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 45, 91, 0.15)), color-stop(100%, rgba(0, 70, 142, 0.15)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(0, 45, 91, 0.15) 0%, rgba(0, 70, 142, 0.15) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(0, 45, 91, 0.15) 0%, rgba(0, 70, 142, 0.15) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(0, 45, 91, 0.15) 0%, rgba(0, 70, 142, 0.15) 100%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(0, 45, 91, 0.15) 0%, rgba(0, 70, 142, 0.15) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40002d5b', endColorstr='#4000468e',GradientType=1 );
  /* IE6-8 */
}

.white_gradient_top:before {
  content: '';
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100 */
  background: -moz-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
  /* IE6-9 */
}

.white_gradient_bottom:before {
  content: '';
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */
}

.white_gradient_top_and_bottom:before {
  content: '';
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+1,0+50,1+100 */
  background: -moz-linear-gradient(top, white 0%, white 1%, rgba(255, 255, 255, 0) 50%, white 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, white 0%, white 1%, rgba(255, 255, 255, 0) 50%, white 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, white 0%, white 1%, rgba(255, 255, 255, 0) 50%, white 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */
}

.white_gradient_left:before {
  content: '';
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100 */
  background: -moz-linear-gradient(left, white 30%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, white 30%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, white 30%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
  /* IE6-9 */
}

.white_gradient_right {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+99 */
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 99%, white 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 99%, white 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 99%, white 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
  /* IE6-9 */
}

.texture_bg {
  background: url(texture);
}

.texture_military_bg:before {
  content: '';
  position: absolute;
  opacity: .25;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(military_texture);
  background-size: cover;
}

/*--END MIXINS--*/
/*--End Variables and Mixins--*/
body.what_we_do {
  -webkit-overflow-scrolling: touch;
}
body.what_we_do .header_container {
  position: fixed;
  z-index: 1000;
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  body.what_we_do .header_container {
    position: absolute;
  }
}

.slide_max_width_container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 81.25rem;
  margin: 0 auto;
}

.slide_content {
  position: absolute;
  z-index: 500;
  width: 50%;
  max-width: 38.5rem;
  padding: 3rem;
  text-align: center;
  /*--481--*/
  /*--481--*/
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_content {
    position: relative;
    width: 100%;
    max-width: 25rem;
    padding: 4rem 2rem;
  }
}
@media (max-width: 40em) {
  .slide_content {
    position: relative;
    width: 100%;
    max-width: none;
    padding: 2em;
  }
}
.slide_content.top {
  top: 4rem;
}
.slide_content.right {
  right: 0;
  /*--481--*/
  /*--481--*/
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_content.right {
    float: right;
  }
}
@media (max-width: 40em) {
  .slide_content.right {
    margin: 0 auto;
  }
}
.slide_content.bottom {
  bottom: 4rem;
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_content.bottom {
    bottom: 0;
  }
}
.slide_content.left {
  left: 0;
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_content.left {
    float: left;
  }
}
.slide_content.center {
  right: 0;
  left: 0;
  margin: 0 auto;
}
.slide_content.middle {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_content.middle {
    top: 0;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }
}
.slide_content p {
  position: relative;
  z-index: 500;
  /*--481--*/
  /*--481--*/
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_content p {
    color: #ffffff;
  }
}
@media (max-width: 40em) {
  .slide_content p {
    color: #000006;
  }
}
.slide_content h2 {
  position: relative;
  z-index: 500;
  font-family: "museo-slab", serif;
  /*--481--*/
  /*--481--*/
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_content h2 {
    color: #ffffff;
  }
}
@media (max-width: 40em) {
  .slide_content h2 {
    color: #00a8e1;
  }
}
.slide_content.white {
  /*--481--*/
  /*--481--*/
}
.slide_content.white h2, .slide_content.white p {
  color: #ffffff;
}
@media (max-width: 40em) {
  .slide_content.white h2 {
    color: #00a8e1;
  }
  .slide_content.white p {
    color: #000006;
  }
}

.slide_count {
  position: relative;
  z-index: 500;
  height: 3.125rem;
  width: 3.125rem;
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid #ffffff;
  /*--481--*/
  /*--481--*/
}
@media (max-width: 40em) {
  .slide_count {
    border: 2px solid #00a8e1;
  }
}
.slide_count.blue {
  border: 2px solid #00a8e1;
  /*--481--*/
  /*--481--*/
  /*--481--*/
  /*--481--*/
}
.slide_count.blue span {
  color: #00a8e1;
}
@media (max-width: 64em) {
  .slide_count.blue {
    border: 2px solid #ffffff;
  }
  .slide_count.blue span {
    color: #ffffff;
  }
}
@media (max-width: 40em) {
  .slide_count.blue {
    border: 2px solid #00a8e1;
  }
  .slide_count.blue span {
    color: #00a8e1;
  }
}
.slide_count span {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  margin: 0 auto;
  font-size: 1rem;
  color: #ffffff;
  font-family: "proxima-nova", sans-serif;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  /*--481--*/
  /*--481--*/
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_count span {
    color: #ffffff;
  }
}
@media (max-width: 40em) {
  .slide_count span {
    color: #00a8e1;
  }
}

.slides_container {
  position: fixed;
  z-index: 700;
  height: 100%;
  width: 100%;
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slides_container {
    position: relative;
  }
}

.parallax_slide {
  text-align: center;
}
.parallax_slide video {
  vertical-align: bottom;
}

.h_550 {
  height: 34.375rem;
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .h_550 {
    height: auto;
  }
}

.h_650 {
  height: 40.625rem;
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .h_650 {
    height: auto;
  }
}

.h_750 {
  height: 46.875rem;
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .h_750 {
    height: auto;
  }
}

.parallax_slide_header {
  position: fixed;
  z-index: 900;
  top: 0%;
  width: 100%;
  height: 100%;
  background: url(parallax_image_intro_bg) center center no-repeat;
  background-size: cover;
  /*--481--*/
  /*--481--*/
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .parallax_slide_header {
    position: relative;
    background: url(parallax_image_intro_bg_1024) center center no-repeat;
    background-size: cover;
  }
}
@media (max-width: 30.0625em) {
  .parallax_slide_header {
    background: url(parallax_image_intro_bg_480) center center no-repeat;
    background-size: cover;
  }
}
.parallax_slide_header .parallax_slide_header_content {
  position: absolute;
  width: 100%;
  max-width: 68.75rem;
  top: 50%;
  right: 0;
  left: 0;
  margin: 0 auto;
  padding: 3rem;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .parallax_slide_header .parallax_slide_header_content {
    width: 100%;
    max-width: 35rem;
    padding: 0 2rem;
    margin: 0 auto;
    top: calc( 47.5% + 1.25rem);
  }
}
.parallax_slide_header .parallax_slide_header_content h1 {
  display: block;
  max-width: 35rem;
  margin: 0 auto 2rem auto;
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .parallax_slide_header .parallax_slide_header_content h1 {
    margin: 0 auto 1rem auto;
  }
}
.parallax_slide_header .parallax_slide_header_content p {
  width: 100%;
  max-width: 47.5rem;
  margin: 0 auto;
  color: #ffffff;
}
.parallax_slide_header .scroll_CTA {
  position: absolute;
  right: 0;
  bottom: 2rem;
  left: 0;
  width: 5rem;
  margin: 0 auto;
  text-align: center;
  /*--481--*/
  /*--481--*/
}
@media (max-width: 48em) {
  .parallax_slide_header .scroll_CTA {
    bottom: 1rem;
  }
}
.parallax_slide_header .scroll_CTA p {
  font-size: .85rem;
  color: #ffffff;
  text-transform: uppercase;
}
.parallax_slide_header .scroll_CTA .scroll_icon {
  display: block;
  position: relative;
  width: 1.25rem;
  margin: 0 auto;
}
.parallax_slide_header .scroll_CTA .scroll_icon img {
  width: 100%;
}

.slide_intro {
  position: fixed;
  z-index: 800;
  opacity: 1;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.95);
  /*--481--*/
  /*--481--*/
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_intro {
    position: relative;
    display: block;
    height: auto;
  }
}
@media (max-width: 40em) {
  .slide_intro {
    position: relative;
    height: auto;
    margin: 0;
  }
}
.slide_intro h2 {
  font-size: 3rem;
  margin: 0;
  color: #00a8e1 !important;
  /*--481--*/
  /*--481--*/
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_intro h2 {
    font-size: 2.5rem;
  }
}
@media (max-width: 40em) {
  .slide_intro h2 {
    font-size: 2rem;
  }
}
.slide_intro .slide_content {
  max-width: 45rem;
  padding: 2rem;
  /*--481--*/
  /*--481--*/
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_intro .slide_content {
    position: relative;
    padding: 6rem 2rem;
  }
}
@media (max-width: 40em) {
  .slide_intro .slide_content {
    padding: 3rem 2rem;
  }
}

.slides_container {
  /*--481--*/
  /*--481--*/
}
@media (max-width: 40em) {
  .slides_container {
    overflow-x: visible;
  }
}

.parallax_slide.slide_1 {
  position: relative;
  overflow-x: hidden;
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .parallax_slide.slide_1 {
    height: auto;
    display: block;
    overflow-x: visible;
  }
}
.parallax_slide.slide_1:before {
  display: none;
  content: '';
  position: absolute;
  z-index: 300;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  /*--481--*/
  /*--481--*/
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .parallax_slide.slide_1:before {
    display: block;
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 40em) {
  .parallax_slide.slide_1:before {
    display: none;
  }
}
.parallax_slide.slide_1 .beef_video_container {
  position: relative;
  width: 100%;
  height: 100vh;
  max-width: 131.25rem;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .parallax_slide.slide_1 .beef_video_container {
    height: auto;
  }
}
.parallax_slide.slide_1 .beef_video_container:before {
  content: '';
  position: absolute;
  z-index: 100;
  height: 100%;
  left: 0;
  width: 15%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+99 */
  background: -moz-linear-gradient(right, transparent 0%, black 99%, black 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(right, transparent 0%, black 99%, black 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to left, transparent 0%, black 99%, black 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
  /* IE6-9 */
  /*--481--*/
  /*--481--*/
}
@media (max-width: 125em) {
  .parallax_slide.slide_1 .beef_video_container:before {
    display: none;
  }
}
.parallax_slide.slide_1 .beef_video_container:after {
  content: '';
  position: absolute;
  z-index: 100;
  height: 100%;
  width: 15%;
  right: 0;
  bottom: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+99 */
  background: -moz-linear-gradient(left, transparent 0%, black 99%, black 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, transparent 0%, black 99%, black 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, transparent 0%, black 99%, black 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
  /* IE6-9 */
  /*--481--*/
  /*--481--*/
}
@media (max-width: 125em) {
  .parallax_slide.slide_1 .beef_video_container:after {
    display: none;
  }
}
.parallax_slide.slide_1 .beef_bg_image {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: -1;
  background: url(parallax_image_beef_bg) bottom center no-repeat;
  background-size: cover;
  /*--481--*/
  /*--481--*/
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .parallax_slide.slide_1 .beef_bg_image {
    height: 100%;
  }
}
@media (max-width: 40em) {
  .parallax_slide.slide_1 .beef_bg_image {
    position: relative;
    height: 12.5rem;
  }
}
.parallax_slide.slide_1 .beef_bg_image:before {
  content: '';
  position: absolute;
  z-index: 100;
  height: 100%;
  left: 0;
  width: 15%;
  background: black;
  /*--481--*/
  /*--481--*/
}
@media (max-width: 125em) {
  .parallax_slide.slide_1 .beef_bg_image:before {
    display: none;
  }
}
.parallax_slide.slide_1 .beef_bg_image:after {
  content: '';
  position: absolute;
  z-index: 100;
  height: 100%;
  width: 15%;
  right: 0;
  bottom: 0;
  background: black;
  /*--481--*/
  /*--481--*/
}
@media (max-width: 125em) {
  .parallax_slide.slide_1 .beef_bg_image:after {
    display: none;
  }
}
.parallax_slide.slide_1 #beef_video {
  position: absolute;
  min-height: 100vh;
  min-width: 100%;
  left: 0;
}

.slide_2 {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.slide_2:before {
  content: '';
  position: absolute;
  z-index: 300;
  bottom: 0;
  top: 50%;
  right: 0;
  left: 0;
  opacity: .75;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+16,000000+99&amp;0+16,1+95 */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxNiUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSI5NSUiIHN0b3AtY29sb3I9IiMwYzBjMGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OSUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 16%, #0c0c0c 95%, black 99%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(16%, rgba(255, 255, 255, 0)), color-stop(95%, #0c0c0c), color-stop(99%, black));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 16%, #0c0c0c 95%, black 99%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 16%, #0c0c0c 95%, black 99%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 16%, #0c0c0c 95%, black 99%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 16%, #0c0c0c 95%, black 99%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#000000',GradientType=0 );
  /* IE6-8 */
  /*--481--*/
  /*--481--*/
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_2:before {
    top: 0;
    background: rgba(0, 0, 0, 0.3);
  }
}
@media (max-width: 40em) {
  .slide_2:before {
    display: none;
  }
}
.slide_2 .fertilizer_bg_image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: url(parallax_image_wheat_bg) bottom center no-repeat;
  background-size: cover;
  /*--481--*/
  /*--481--*/
}
@media (max-width: 40em) {
  .slide_2 .fertilizer_bg_image {
    position: relative;
    height: 12.5rem;
  }
}
.slide_2 .fertilizer_bg_image:before {
  content: '';
  position: absolute;
  z-index: 100;
  height: 100%;
  left: 0;
  width: 15%;
  background: black;
  /*--481--*/
  /*--481--*/
}
@media (max-width: 100em) {
  .slide_2 .fertilizer_bg_image:before {
    display: none;
  }
}
.slide_2 .fertilizer_bg_image:after {
  content: '';
  position: absolute;
  z-index: 100;
  height: 100%;
  width: 15%;
  right: 0;
  bottom: 0;
  background: black;
  /*--481--*/
  /*--481--*/
}
@media (max-width: 100em) {
  .slide_2 .fertilizer_bg_image:after {
    display: none;
  }
}
.slide_2 .fertilizer_video_cover {
  position: absolute;
  z-index: 100;
  opacity: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black;
  background-size: cover;
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_2 .fertilizer_video_cover {
    display: none;
  }
}
.slide_2 .fertilizer_video_container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 131.25rem;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_2 .fertilizer_video_container {
    display: none;
  }
}
.slide_2 .fertilizer_video_container:before {
  content: '';
  position: absolute;
  z-index: 100;
  height: 100%;
  left: 0;
  width: 15%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+99 */
  background: -moz-linear-gradient(right, transparent 0%, black 99%, black 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(right, transparent 0%, black 99%, black 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to left, transparent 0%, black 99%, black 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
  /* IE6-9 */
  /*--481--*/
  /*--481--*/
}
@media (max-width: 125em) {
  .slide_2 .fertilizer_video_container:before {
    display: none;
  }
}
.slide_2 .fertilizer_video_container:after {
  content: '';
  position: absolute;
  z-index: 100;
  height: 100%;
  width: 15%;
  right: 0;
  bottom: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+99 */
  background: -moz-linear-gradient(left, transparent 0%, black 99%, black 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, transparent 0%, black 99%, black 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, transparent 0%, black 99%, black 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
  /* IE6-9 */
  /*--481--*/
  /*--481--*/
}
@media (max-width: 125em) {
  .slide_2 .fertilizer_video_container:after {
    display: none;
  }
}
.slide_2 #fertilizer_video {
  position: absolute;
  min-width: 100%;
  left: 0;
  -webkit-transform: translateY(-20%);
  -moz-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  -o-transform: translateY(-20%);
  transform: translateY(-20%);
}

.slide_3 {
  position: relative;
  overflow: hidden;
}
.slide_3 .lycra_bg_image {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url(../images/slider_image_invista_1.jpg) left center no-repeat;
  background-size: cover;
  /*--481--*/
  /*--481--*/
}
.slide_3 .lycra_bg_image:before {
  display: none;
  content: '';
  position: absolute;
  z-index: 300;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  /*--481--*/
  /*--481--*/
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_3 .lycra_bg_image:before {
    display: block;
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 40em) {
  .slide_3 .lycra_bg_image:before {
    display: none;
  }
}
@media (max-width: 40em) {
  .slide_3 .lycra_bg_image {
    position: relative;
    height: 12.5rem;
  }
}

.slide_4 {
  position: relative;
  width: 50%;
  height: 34.375rem;
  float: left;
  /*--481--*/
  /*--481--*/
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_4 {
    height: 26rem;
  }
}
@media (max-width: 40em) {
  .slide_4 {
    height: auto;
    width: 100%;
  }
}
.slide_4 .building_materials_bg_image {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url(parallax_image_building_materials_bg) bottom center no-repeat;
  background-size: cover;
  /*--481--*/
  /*--481--*/
  /*--481--*/
  /*--481--*/
}
@media (max-width: 40em) {
  .slide_4 .building_materials_bg_image {
    position: relative;
    height: 12.5rem;
    float: none;
  }
}
@media (max-width: 30.0625em) {
  .slide_4 .building_materials_bg_image {
    background: url(parallax_image_building_materials_bg_480) bottom center no-repeat;
    background-size: cover;
  }
}
.slide_4 .slide_content {
  position: absolute;
  max-width: 37.5rem;
  width: 100%;
  top: 5rem;
  right: 0;
  padding: 0 10% 0 2rem;
  text-align: center;
  /*--481--*/
  /*--481--*/
  /*--481--*/
  /*--481--*/
  /*--481--*/
  /*--481--*/
}
@media (max-width: 75em) {
  .slide_4 .slide_content {
    padding: 0 2rem;
  }
}
@media (max-width: 64em) {
  .slide_4 .slide_content {
    top: 0;
    padding: 3rem 2rem;
  }
}
@media (max-width: 40em) {
  .slide_4 .slide_content {
    position: relative;
    width: 100%;
    max-width: none;
    top: 0%;
    padding: 2rem;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }
}
.slide_4 .slide_content h2 {
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_4 .slide_content h2 {
    color: #00a8e1;
  }
}
.slide_4 .slide_content p {
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_4 .slide_content p {
    color: #000006;
  }
}
.slide_4 .slide_content .slide_count {
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_4 .slide_content .slide_count {
    border: 2px solid #00a8e1;
  }
  .slide_4 .slide_content .slide_count span {
    color: #00a8e1;
  }
}

.slide_5 {
  position: relative;
  overflow: hidden;
  width: 50%;
  height: 34.375rem;
  float: right;
  /*--481--*/
  /*--481--*/
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_5 {
    height: 26rem;
  }
}
@media (max-width: 40em) {
  .slide_5 {
    height: auto;
    width: 100%;
  }
}
.slide_5:before {
  display: none !important;
}
.slide_5 .airbags_bg_image {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url(parallax_image_airbags_bg) bottom center no-repeat;
  background-size: cover;
  /*--481--*/
  /*--481--*/
  /*--481--*/
  /*--481--*/
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_5 .airbags_bg_image {
    background: url(parallax_image_airbags_bg_1024) center center no-repeat;
    background-size: cover;
  }
}
@media (max-width: 40em) {
  .slide_5 .airbags_bg_image {
    position: relative;
    width: 100%;
    height: 12.5rem;
    float: none;
  }
}
@media (max-width: 30.0625em) {
  .slide_5 .airbags_bg_image {
    background: url(parallax_image_airbags_bg_480) bottom center no-repeat;
    background-size: cover;
  }
}
.slide_5 .slide_content {
  position: absolute;
  max-width: 37.5rem;
  z-index: 300;
  width: 100%;
  top: 5rem;
  left: 0;
  padding: 0 2rem 0 10%;
  text-align: center;
  /*--481--*/
  /*--481--*/
  /*--481--*/
  /*--481--*/
  /*--481--*/
  /*--481--*/
}
@media (max-width: 75em) {
  .slide_5 .slide_content {
    padding: 0 2rem;
  }
}
@media (max-width: 64em) {
  .slide_5 .slide_content {
    padding: 3rem 2rem;
  }
}
@media (max-width: 40em) {
  .slide_5 .slide_content {
    position: relative;
    width: 100%;
    top: 0;
    bottom: 0;
    padding: 2rem;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }
}
.slide_5 .slide_content h2 {
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_5 .slide_content h2 {
    color: #00a8e1;
  }
}
.slide_5 .slide_content p {
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_5 .slide_content p {
    color: #000006;
  }
}
.slide_5 .slide_content .slide_count {
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_5 .slide_content .slide_count {
    border: 2px solid #00a8e1;
  }
}
.slide_5 .slide_content .slide_count span {
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_5 .slide_content .slide_count span {
    color: #00a8e1;
  }
}
.slide_5 .airbags_video_cover {
  position: absolute;
  z-index: 100;
  opacity: 1;
  width: 100%;
  height: 100%;
  background: black;
  background-size: cover;
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_5 .airbags_video_cover {
    display: none;
  }
}
.slide_5 .airbags_video_container {
  position: absolute;
  height: 100%;
  width: 100%;
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_5 .airbags_video_container {
    display: none;
  }
}
.slide_5 .airbags_video_container video {
  position: absolute;
  height: 140%;
  width: 185%;
  left: -42.5%;
  top: -20%;
}

.slide_6 {
  position: relative;
  clear: both;
  overflow: hidden;
  /*--481--*/
  /*--481--*/
}
@media (max-width: 40em) {
  .slide_6 {
    background: #ebeced;
  }
}
.slide_6 .parallax_image_1 {
  position: absolute;
  z-index: 200;
  width: 50%;
  top: 0;
  right: 50%;
  /*--481--*/
  /*--481--*/
}
@media (max-width: 40em) {
  .slide_6 .parallax_image_1 {
    position: relative;
    right: 0;
    left: 0;
    padding: 0 0 1rem 0;
    margin: 0 auto;
  }
}
.slide_6 .parallax_image_2 {
  position: absolute;
  z-index: 100;
  top: 25%;
  left: 80%;
  /*--481--*/
  /*--481--*/
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_6 .parallax_image_2 {
    display: none;
    top: 15rem;
    left: 44%;
    width: 64%;
  }
}
@media (max-width: 40em) {
  .slide_6 .parallax_image_2 {
    display: block;
    top: 5rem;
    left: 69%;
  }
}
.slide_6 .slide_content {
  /*--481--*/
  /*--481--*/
}
@media (max-width: 40em) {
  .slide_6 .slide_content {
    background: #ffffff;
  }
}
.slide_6 .slide_content h2 {
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_6 .slide_content h2 {
    color: #00a8e1;
  }
}
.slide_6 .slide_content p {
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_6 .slide_content p {
    color: #000006;
  }
}
.slide_6 .slide_content .slide_count {
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_6 .slide_content .slide_count {
    border: 2px solid #00a8e1;
  }
  .slide_6 .slide_content .slide_count span {
    color: #00a8e1;
  }
}

.slide_7 {
  position: relative;
  width: 50%;
  height: 34.375rem;
  float: left;
  /*--481--*/
  /*--481--*/
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_7 {
    height: 26rem;
  }
}
@media (max-width: 40em) {
  .slide_7 {
    height: auto;
    width: 100%;
  }
}
.slide_7:before {
  display: none;
  content: '';
  position: absolute;
  z-index: 300;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  /*--481--*/
  /*--481--*/
}
@media (max-width: 40em) {
  .slide_7:before {
    display: none;
  }
}
.slide_7 .fuel_bg_image {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(parallax_image_fuel_bg) bottom center no-repeat;
  background-size: cover;
  /*--481--*/
  /*--481--*/
}
@media (max-width: 40em) {
  .slide_7 .fuel_bg_image {
    position: relative;
    width: 100%;
    height: 12.5rem;
    float: none;
    background-position: top center;
  }
}
.slide_7 .slide_content {
  position: absolute;
  z-index: 300;
  max-width: 37.5rem;
  width: 100%;
  top: 50%;
  right: 0;
  padding: 0 10% 0 2rem;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  /*--481--*/
  /*--481--*/
  /*--481--*/
  /*--481--*/
}
@media (max-width: 75em) {
  .slide_7 .slide_content {
    padding: 0 2rem;
  }
}
@media (max-width: 40em) {
  .slide_7 .slide_content {
    position: relative;
    width: 100%;
    top: 0;
    bottom: 0;
    padding: 2rem;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }
}
.slide_7 .slide_content p {
  /*--481--*/
  /*--481--*/
}
@media (max-width: 40em) {
  .slide_7 .slide_content p {
    color: #000006;
  }
}

.slide_8 {
  position: relative;
  width: 50%;
  height: 34.375rem;
  float: left;
  /*--481--*/
  /*--481--*/
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_8 {
    height: 26rem;
  }
}
@media (max-width: 40em) {
  .slide_8 {
    height: auto;
    width: 100%;
  }
}
.slide_8:before {
  display: none;
  content: '';
  position: absolute;
  z-index: 300;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  /*--481--*/
  /*--481--*/
}
@media (max-width: 40em) {
  .slide_8:before {
    display: none;
  }
}
.slide_8 .performance_parts_bg_image {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(parallax_image_performance_parts_bg) bottom center no-repeat;
  background-size: cover;
  /*--481--*/
  /*--481--*/
}
@media (max-width: 40em) {
  .slide_8 .performance_parts_bg_image {
    position: relative;
    width: 100%;
    height: 12.5rem;
    float: none;
  }
}
.slide_8 .slide_content {
  position: absolute;
  z-index: 300;
  max-width: 37.5rem;
  width: 100%;
  top: 50%;
  left: 0;
  padding: 0 2rem 0 10%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  /*--481--*/
  /*--481--*/
  /*--481--*/
  /*--481--*/
  /*--481--*/
  /*--481--*/
}
@media (max-width: 75em) {
  .slide_8 .slide_content {
    padding: 0 2rem;
  }
}
@media (max-width: 64em) {
  .slide_8 .slide_content {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
@media (max-width: 40em) {
  .slide_8 .slide_content {
    position: relative;
    width: 100%;
    top: 0;
    bottom: 0;
    padding: 2rem;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }
}
.slide_8 .slide_content p {
  /*--481--*/
  /*--481--*/
}
@media (max-width: 40em) {
  .slide_8 .slide_content p {
    color: #000006;
  }
}

.slide_9 {
  position: relative;
  overflow: hidden;
  clear: both;
}
.slide_9:before {
  display: none;
  content: '';
  position: absolute;
  z-index: 300;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  /*--481--*/
  /*--481--*/
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_9:before {
    display: block;
  }
}
@media (max-width: 40em) {
  .slide_9:before {
    display: none;
  }
}
.slide_9 .slide_9_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: url(parallax_image_bedding_bg) center center no-repeat;
  background-size: cover;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  /*--481--*/
  /*--481--*/
}
@media (max-width: 40em) {
  .slide_9 .slide_9_bg {
    position: relative;
    height: 12.5rem;
  }
}
.slide_9 .slide_content {
  top: 6rem !important;
  z-index: 300;
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_9 .slide_content {
    top: inherit !important;
  }
}
.slide_9 .foreground_image {
  position: absolute;
  z-index: 200;
  right: 0;
  bottom: -50%;
  left: 0;
  width: 100%;
  margin: 0 auto;
}

.slide_10 {
  position: relative;
  overflow: hidden;
  clear: both;
}
.slide_10 .tableware_bg_image {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url(parallax_image_tableware_bg) center center no-repeat;
  background-size: cover;
  /*--481--*/
  /*--481--*/
  /*--481--*/
  /*--481--*/
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_10 .tableware_bg_image {
    left: 0;
    width: 50%;
    background: url(parallax_image_tableware_bg_1024) 40% center no-repeat;
    background-size: cover;
  }
}
@media (max-width: 40em) {
  .slide_10 .tableware_bg_image {
    position: relative;
    width: 100%;
    height: 12.5rem;
  }
}
@media (max-width: 64em) {
  .slide_10 .tableware_bg_image {
    background: url(parallax_image_tableware_bg_480) right center no-repeat;
    background-size: cover;
  }
}
.slide_10 .slide_content {
  /*--481--*/
  /*--481--*/
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_10 .slide_content {
    position: relative;
    float: right;
    width: 50%;
    max-width: none;
  }
}
@media (max-width: 40em) {
  .slide_10 .slide_content {
    float: none;
    width: 100%;
  }
}
.slide_10 h2 {
  color: #ffffff;
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_10 h2 {
    color: #00a8e1;
  }
}
.slide_10 p {
  color: #ffffff;
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_10 p {
    color: #000006;
  }
}
.slide_10 .slide_count {
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_10 .slide_count {
    border: 2px solid #00a8e1;
  }
}
.slide_10 .slide_count span {
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_10 .slide_count span {
    color: #00a8e1;
  }
}

.slide_11 {
  position: relative;
  overflow: hidden;
  clear: both;
  background: #ffffff;
  background-size: cover;
}
.slide_11:before {
  display: none;
  content: '';
  position: absolute;
  z-index: 300;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  /*--481--*/
  /*--481--*/
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_11:before {
    display: block;
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 40em) {
  .slide_11:before {
    display: none;
  }
}
.slide_11 p {
  color: #ffffff;
  /*--481--*/
  /*--481--*/
}
@media (max-width: 40em) {
  .slide_11 p {
    color: #000006;
  }
}
.slide_11 .filtration_bg_image {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(parallax_image_filtration_bg) center center no-repeat;
  background-size: cover;
  /*--481--*/
  /*--481--*/
  /*--481--*/
  /*--481--*/
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_11 .filtration_bg_image {
    background: url(parallax_image_filtration_bg_1024) top center no-repeat;
    background-size: cover;
  }
}
@media (max-width: 40em) {
  .slide_11 .filtration_bg_image {
    position: relative;
    height: 12.5rem;
  }
}
@media (max-width: 30.0625em) {
  .slide_11 .filtration_bg_image {
    background: url(parallax_image_filtration_bg_480) top center no-repeat;
    background-size: cover;
  }
}
.slide_11 .filtration_bg_image:before {
  content: '';
  position: absolute;
  z-index: 100;
  height: 100%;
  left: 0;
  width: 15%;
  background: black;
  /*--481--*/
  /*--481--*/
}
@media (max-width: 100em) {
  .slide_11 .filtration_bg_image:before {
    display: none;
  }
}
.slide_11 .filtration_bg_image:after {
  content: '';
  position: absolute;
  z-index: 100;
  height: 100%;
  width: 15%;
  right: 0;
  bottom: 0;
  background: black;
  /*--481--*/
  /*--481--*/
}
@media (max-width: 100em) {
  .slide_11 .filtration_bg_image:after {
    display: none;
  }
}
.slide_11 .filtration_video_cover {
  position: absolute;
  z-index: 200;
  opacity: 1;
  width: 100%;
  height: 100%;
  background: #000000;
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_11 .filtration_video_cover {
    display: none;
  }
}
.slide_11 .filtration_video_container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 131.25rem;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_11 .filtration_video_container {
    display: none;
  }
}
.slide_11 .filtration_video_container:before {
  content: '';
  position: absolute;
  z-index: 100;
  height: 100%;
  left: 0;
  width: 15%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+99 */
  background: -moz-linear-gradient(right, transparent 0%, black 99%, black 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(right, transparent 0%, black 99%, black 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to left, transparent 0%, black 99%, black 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
  /* IE6-9 */
  /*--481--*/
  /*--481--*/
}
@media (max-width: 125em) {
  .slide_11 .filtration_video_container:before {
    display: none;
  }
}
.slide_11 .filtration_video_container:after {
  content: '';
  position: absolute;
  z-index: 100;
  height: 100%;
  width: 15%;
  right: 0;
  bottom: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+99 */
  background: -moz-linear-gradient(left, transparent 0%, black 99%, black 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, transparent 0%, black 99%, black 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, transparent 0%, black 99%, black 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
  /* IE6-9 */
  /*--481--*/
  /*--481--*/
}
@media (max-width: 125em) {
  .slide_11 .filtration_video_container:after {
    display: none;
  }
}
.slide_11 #filtration_video {
  position: absolute;
  min-width: 100%;
  left: 0;
  -webkit-transform: translateY(-20%);
  -moz-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  -o-transform: translateY(-20%);
  transform: translateY(-20%);
}

.slide_12 {
  position: relative;
  overflow: hidden;
  clear: both;
}
.slide_12:before {
  display: none;
}
.slide_12 .slide_12_bg_1 {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: url(parallax_image_peformance_fabrics_bg_1) top center no-repeat;
  background-size: cover;
  /*--481--*/
  /*--481--*/
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_12 .slide_12_bg_1 {
    position: relative;
    height: 25rem;
    float: left;
  }
}
@media (max-width: 40em) {
  .slide_12 .slide_12_bg_1 {
    height: 12.5rem;
  }
}
.slide_12 .slide_12_bg_2 {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  background: url(parallax_image_peformance_fabrics_bg_2) top center no-repeat;
  background-size: cover;
  /*--481--*/
  /*--481--*/
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_12 .slide_12_bg_2 {
    position: relative;
    height: 25rem;
    float: right;
  }
}
@media (max-width: 40em) {
  .slide_12 .slide_12_bg_2 {
    height: 12.5rem;
  }
}
.slide_12 .foreground_image {
  position: absolute;
  z-index: 300;
  left: 1rem;
  bottom: 2.5rem;
  width: 35%;
  width: 28.125rem;
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_12 .foreground_image {
    width: 15.625rem;
    left: 0rem;
  }
}
.slide_12 .slide_max_width_container {
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_12 .slide_max_width_container {
    clear: both;
  }
}
.slide_12 .slide_content_container {
  position: relative;
  z-index: 200;
  height: 34.375rem;
  width: 34.375rem;
  top: -20%;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 50%;
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_12 .slide_content_container {
    background: none;
    z-index: 300;
    height: auto;
    width: 100%;
    top: 0%;
  }
}
.slide_12 .slide_content_container .slide_content {
  position: absolute;
  top: 58.5%;
  right: 0;
  left: 0;
  width: 72.5%;
  max-width: 35rem !important;
  margin: 0 auto;
  padding: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  /*--481--*/
  /*--481--*/
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_12 .slide_content_container .slide_content {
    position: relative;
    padding: 2rem;
    margin: 0 auto;
    width: auto;
    top: 0;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }
}
@media (max-width: 40em) {
  .slide_12 .slide_content_container .slide_content {
    position: relative;
    padding: 2rem;
  }
}
.slide_12 .slide_content_container .slide_content h2 {
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_12 .slide_content_container .slide_content h2 {
    color: #00a8e1;
  }
}
.slide_12 .slide_content_container .slide_content p {
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_12 .slide_content_container .slide_content p {
    color: #000006;
  }
}
.slide_12 .slide_content_container .slide_content .slide_count {
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_12 .slide_content_container .slide_content .slide_count {
    border: 2px solid #00a8e1;
  }
}
.slide_12 .slide_content_container .slide_content .slide_count span {
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_12 .slide_content_container .slide_content .slide_count span {
    color: #00a8e1;
  }
}

.slide_13 {
  position: relative;
  overflow: hidden;
  clear: both;
}
.slide_13:before {
  display: none;
  content: '';
  position: absolute;
  z-index: 300;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  /*--481--*/
  /*--481--*/
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_13:before {
    display: block;
  }
}
@media (max-width: 40em) {
  .slide_13:before {
    display: none;
  }
}
.slide_13 .slide_13_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(parallax_image_packaging_bg) left center no-repeat;
  background-size: cover;
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
  /*--481--*/
  /*--481--*/
}
@media (max-width: 40em) {
  .slide_13 .slide_13_bg {
    position: relative;
    height: 12.5rem;
    background-position: left center;
  }
}

.slide_14 {
  position: relative;
  overflow: hidden;
  clear: both;
}
.slide_14:before {
  display: none;
  content: '';
  position: absolute;
  z-index: 300;
  p: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  /*--481--*/
  /*--481--*/
}
@media (max-width: 48em) {
  .slide_14:before {
    display: none;
  }
}
.slide_14 .foreground_images {
  position: absolute;
  overflow: hidden;
  width: 50%;
  max-width: 46.875rem;
  right: 0;
  top: 0;
  bottom: 0;
  /*--481--*/
  /*--481--*/
}
@media (max-width: 40em) {
  .slide_14 .foreground_images {
    position: relative;
    width: 100%;
    height: 12.5rem;
  }
}
.slide_14 .foreground_images li {
  position: relative;
  float: left;
  width: 33.333%;
}
.slide_14 .foreground_images li:first-child {
  margin-top: 46.875rem;
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_14 .foreground_images li:first-child {
    margin-top: 0px;
  }
}
.slide_14 .foreground_images li:nth-child(2) {
  margin-top: -46.875rem;
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_14 .foreground_images li:nth-child(2) {
    margin-top: 0px;
  }
}
.slide_14 .foreground_images li:last-child {
  margin-top: 46.875rem;
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_14 .foreground_images li:last-child {
    margin-top: 0px;
  }
}
.slide_14 .slide_content {
  /*--481--*/
  /*--481--*/
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_14 .slide_content {
    width: 100%;
    max-width: 50%;
  }
  .slide_14 .slide_content p {
    color: #000006;
  }
  .slide_14 .slide_content h2 {
    color: #00a8e1;
  }
  .slide_14 .slide_content .slide_count {
    border: 2px solid #00a8e1;
  }
  .slide_14 .slide_content .slide_count span {
    color: #00a8e1;
  }
}
@media (max-width: 40em) {
  .slide_14 .slide_content {
    max-width: none;
  }
}

.slide_15 {
  position: relative;
  overflow: hidden;
  clear: both;
}
.slide_15 .foreground_image {
  width: 75%;
  /*--481--*/
  /*--481--*/
}
@media (max-width: 40em) {
  .slide_15 .foreground_image {
    display: none;
  }
}
.slide_15 .dispenser_bg_image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: url(parallax_image_pt_bg) center center no-repeat;
  background-size: cover;
  /*--481--*/
  /*--481--*/
}
@media (max-width: 40em) {
  .slide_15 .dispenser_bg_image {
    position: relative;
    height: 12.5rem;
    background: url(slider_image_gp_4_480) bottom center no-repeat;
  }
}
.slide_15 .dispenser_video_container {
  position: absolute;
  z-index: 100;
  top: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_15 .dispenser_video_container {
    display: none;
  }
}

.slide_16 {
  position: relative;
  overflow: hidden;
  clear: both;
}
.slide_16 .slide_16_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(parallax_image_asphalt_bg) bottom center no-repeat;
  background-size: cover;
  /*--481--*/
  /*--481--*/
}
@media (max-width: 40em) {
  .slide_16 .slide_16_bg {
    position: relative;
    height: 12.5rem;
  }
}
.slide_16 .slide_16_bg:before {
  display: none;
  content: '';
  position: absolute;
  z-index: 300;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  /*--481--*/
  /*--481--*/
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_16 .slide_16_bg:before {
    display: block;
  }
}
@media (max-width: 40em) {
  .slide_16 .slide_16_bg:before {
    display: none;
  }
}
.slide_16 .slide_content.bottom {
  bottom: 3rem !important;
  /*--481--*/
  /*--481--*/
}
@media (max-width: 64em) {
  .slide_16 .slide_content.bottom {
    bottom: auto !important;
  }
}

#load {
  height: 100vh;
  width: 100%;
  background-color: #fff;
  position: fixed;
  opacity: 1;
  animation: loader .25s forwards;
  -webkit-transform: all 1s ease-in-out;
  -moz-transform: all 1s ease-in-out;
  -ms-transform: all 1s ease-in-out;
  -o-transform: all 1s ease-in-out;
  transform: all 1s ease-in-out;
  z-index: 901;
  /*--481--*/
  /*--481--*/
}
@media (max-width: 40em) {
  #load {
    display: none;
  }
}
#load div {
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
}
#load span {
  height: 0.3125rem;
  width: 0.3125rem;
  float: left;
  margin-left: 0.3125rem;
  border-radius: 50%;
  background-color: #00a8e1;
  position: relative;
  animation: upDownLoader 0.5s cubic-bezier(0, 0, 0, 0) infinite;
}
#load span:first-child {
  margin-left: 0;
}
#load span:nth-child(1) {
  -webkit-animation-delay: 0.0s;
  -o-animation-delay: 0.0s;
  animation-delay: 0.0s;
}
#load span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
  -o-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
#load span:nth-child(3) {
  -webkit-animation-delay: 0.15s;
  -o-animation-delay: 0.15s;
  animation-delay: 0.15s;
}
#load span:nth-child(4) {
  -webkit-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
#load span:nth-child(5) {
  -webkit-animation-delay: 0.25s;
  -o-animation-delay: 0.25s;
  animation-delay: 0.25s;
}
#load p {
  position: relative;
  width: 100%;
  text-align: center;
  color: #000006;
  padding-top: 1rem;
}

@keyframes upDownLoader {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 0.625rem;
  }
  100% {
    bottom: 0;
  }
}
@keyframes loader {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=what_we_do.css.map */
